// =======================
// Mixins
// =======================
/// @author Pierre Brivio & Nathanaël Allard


@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

