// =======================
// Mixins
// =======================
/// @author Pierre Brivio & Nathanaël Allard


@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin background{
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

@mixin base-style-text{
    font-family: Geomanist, sans-serif;
    line-height: normal;
}
