// Spacing
$spacer : 1.1875rem;

$base-space-1 : ($spacer);
$base-space-2 : ($spacer*2);
$base-space-3 : ($spacer*3);
$base-space-4 : ($spacer*4);
$base-space-5 : ($spacer*5);
$base-space-6 : ($spacer*6);