 
@font-face { font-family: Geomanist; font-weight: 800; src: url('../../fonts/Geomanist-Black.otf');}
@font-face { font-family: Geomanist; font-weight: 800; font-style: italic; src: url('../../fonts/Geomanist-Black-Italic.otf');}

@font-face { font-family: Geomanist; font-weight: 700; src: url('../../fonts/Geomanist-Bold.otf');}
@font-face { font-family: Geomanist; font-weight: 700; src: url('../../fonts/Geomanist-Bold-Italic.otf');}

@font-face { font-family: Geomanist; font-weight: 200 ; src: url('../../fonts/Geomanist-Light.otf');}
@font-face { font-family: Geomanist; font-weight: 200 ; src: url('../../fonts/Geomanist-Light-Italic.otf');}

@font-face { font-family: Geomanist; font-weight: 300 ; src: url('../../fonts/Geomanist-Medium.otf');}
@font-face { font-family: Geomanist; font-weight: 300 ; src: url('../../fonts/Geomanist-Medium-Italic.otf');}

@font-face { font-family: Geomanist; font-weight: 400 ; src: url('../../fonts/Geomanist-Regular.otf');}
@font-face { font-family: Geomanist; font-weight: 400 ; src: url('../../fonts/Geomanist-Regular-Italic.otf');}

@font-face { font-family: Geomanist; font-weight: 900 ; src: url('../../fonts/Geomanist-Ultra.otf');}
@font-face { font-family: Geomanist; font-weight: 900 ; src: url('../../fonts/Geomanist-Ultra-Italic.otf');}



.text--regular{
    font-family: Geomanist, sans-serif;
    font-weight: 400; 
}
.text--regular--italic{
    font-family: Geomanist, sans-serif;
    font-style: italic;
    font-weight: 400; 
}

.text--black{
    font-family: Geomanist, sans-serif;
    font-weight: 800; 
}

.text--black--italic{
    font-family: Geomanist, sans-serif;
    font-weight: 800; 
    font-style: italic;

}

.text--bold{
    font-family: Geomanist, sans-serif;
    font-weight: 700; 
}
.text--bold--italic{
    font-family: Geomanist, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.text--light{
    font-family: Geomanist, sans-serif;
    font-weight: 200; 
}

.text--light--italic{
    font-family: Geomanist, sans-serif;
    font-weight: 200; 
    font-style: italic;
}

.text--medium{
    font-family: Geomanist, sans-serif;
    font-weight: 300; 
}

.text--medium--italic{
    font-family: Geomanist, sans-serif;
    font-weight: 300; 
    font-style: italic;
}