.text--regular{
    @include base-style-text();
    
    // font-family: $font, sans-serif;
    font-weight: 400;
    // line-height: normal;
}
.text--regular--italic{
    font-family: $font, sans-serif;
    font-style: italic;
    font-weight: 400; 
    line-height: normal;

}

.text--black{
    font-family: $font, sans-serif;
    font-weight: 800; 
    line-height: normal;

}

.text--black--italic{
    font-family: $font, sans-serif;
    font-weight: 800; 
    font-style: italic;
    line-height: normal;


}

.text--bold{
    font-family: $font, sans-serif;
    font-weight: 700; 
    line-height: normal;

}
.text--bold--italic{
    font-family: $font, sans-serif;
    font-weight: 700;
    font-style: italic;
    line-height: normal;

}

.text--light{
    font-family: $font, sans-serif;
    font-weight: 200; 
    line-height: normal;

}

.text--light--italic{
    font-family: $font, sans-serif;
    font-weight: 200; 
    font-style: italic;
    line-height: normal;

}

.text--medium{
    font-family: $font, sans-serif;
    font-weight: 300; 
    line-height: normal;

}

.text--medium--italic{
    font-family: Geomanist, sans-serif;
    font-weight: 300; 
    font-style: italic;
    line-height: normal;

}

