body,html {
  margin: 0;
  padding: 0;
}

.bg-primary{
  background-color: $primone;
}

.bg-illustration-signin{
  background-image: url("./img/illustration_signin.svg");
  background-position: top right ;
  background-repeat: no-repeat;
  background-size: cover; 
}

.bg-illustration-signup{
  background-image: url("./img/illustration_signup.svg");
  background-position: top right ;
  background-repeat: no-repeat;
  background-size: cover; 
}

.vh-100{
  height: 100vh;
}
.h-100{
  height: 100%;
}
.position-relative{
  position: relative;
}

.position-absolute{
  position:absolute;
}

.flex-name{
  display: flex;
  flex-direction: row;
}

.text-error{
  color: $destructive;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}
.d-flex{
  display: flex;
}
.justify-content-center{
  justify-content:center;
}

.flex-column{
  flex-direction: column;
}