body,html {
  margin: 0;
  padding: 0;
}



.bg-gradientprimary{
  background: $gradientprimary;
  
}

.bg-signup{
  background-image: url("./img/illustration_signup.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.bg-signin{
  background-image: url("./img/illustration_signin.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}
.min-100vh{
  min-height: 100vh;
}

.position-relative{
  position: relative;
}

.position-absolute{
  position:absolute;
}

.flex-name{
  display: flex;
  flex-direction: row;
}

.text-error{
  color: $destructive;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}
.d-flex{
  display: flex;
}
.justify-content-center{
  justify-content:center;
}

.flex-column{
  flex-direction: column;
}
.img-fluid-height{
  max-height: 100%;
  width: 100%;
}
