.m-button{
    display: inline-block;
    border-radius: 100px;
    border: none;
    color: $white;
    font-family: $fontfm;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    white-space: nowrap;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 100px;
    user-select: none;
}

.m-button--large{
    font-size: 1.25rem;
    line-height: 1.2;
    padding: .5rem 1rem;
}

.m-button--small{
    font-size: 1rem;
    line-height: 1.5;
    padding: .25rem .5rem;

}
