.m-button{
    @extend .text--black;
    @extend .text-4x;

    display: inline-block;
    border-radius: 100px;
    border: none;
    font-family: $fontfm;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    white-space: nowrap;
    cursor: pointer;
    padding: 1rem 2.625rem;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 28.5px;
    user-select: none;
}

.m-button span{
    position: relative;
    z-index: 3;
    pointer-events: none;
}

.m-button--small{
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.625rem 1.875rem;
}

.m-button--large{
    font-size: 1.25rem;
    line-height: 1.2;
    padding: 1.375rem 3.375rem;
}


.m-button--primary{
    color: $white;

    background-color: #ccc;
    background-image: $gradientprimary;
    display: inline-block;
    position: relative;
    z-index: 1;
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: $gradientprimaryhover;
        transition: opacity 0.5s ease-out;
        opacity: 0;
        border-radius: 100px;
        z-index: 2;
    }
    &:hover::after{
        opacity: 1;
        color: white;
    }
    &:focus{
        box-shadow: $box-shadow;
    }
    &:active{
        background: $gradientprimaryhover;
        border: 3px solid rgba(0, 0, 0, 0.1);
        box-shadow: $box-shadow;
    }
    &.disabled{
        cursor: not-allowed;
        background: $gradientprimarydisabled;
    }
}

.m-button--secondary{
    color: $white;

    position: relative;
    box-sizing: border-box;
    border-radius: 100px;
    background: white;
    span{
        background: $gradientprimaryfont;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -3px;
      border-radius: inherit;
      background: $gradientprimary;
    }
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $secondarybackcolor;
        transition: opacity 0.5s ease-out;
        opacity: 0;
        border-radius: 100px;
        z-index: 2;
    }
    &:hover::after{
        opacity: 1;
    }
    &:focus{
        box-shadow: $box-shadow;
    }
    &:focus::after{
        opacity: 1;
    }
    &:active{
        box-shadow: $box-shadow;
    }
    &:active::after{
       opacity: 1;
    }
    &:active::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -3px;
        border-radius: inherit;
        background: $gradientprimaryhover;
      }
      &.disabled::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -3px;
        border-radius: inherit;
        background: $gradientprimarydisabled;
      }
      &.disabled::after{
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $secondarybackcolor;
          transition: opacity 0.5s ease-out;
          opacity: 0;
          border-radius: 100px;
          z-index: 2;
      }
      &.disabled span{
            background: $gradientprimaryfontdisabled;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
      }
      &.disabled{
        cursor: not-allowed;
      }
}

.m-button--destructive{
    color: $white;

    background-color: #ccc;
    background-image: $gradientdestructive;
    display: inline-block;
    position: relative;
    z-index: 1;
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: $gradientdestructivehover;
        transition: opacity 0.5s ease-out;
        opacity: 0;
        border-radius: 100px;
        z-index: 2;
    }
    &:hover::after{
        opacity: 1;
        color: white;
    }
    &:focus{
        box-shadow: $box-shadow;
    }
    &:active{
        background: $gradientdestructivehover;
        border: 3px solid rgba(0, 0, 0, 0.1);
        box-shadow: $box-shadow;
    }
    &.disabled{
        cursor: not-allowed;
        background: $gradientdestructivedisabled;
    }
}

.m-button--sucess{
    color: $white;

    background-color: #ccc;
    background-image: $gradientsucess;
    display: inline-block;
    position: relative;
    z-index: 1;
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: $gradientsucesshover;
        transition: opacity 0.5s ease-out;
        opacity: 0;
        border-radius: 100px;
        z-index: 2;
    }
    &:hover::after{
        opacity: 1;
        color: white;
    }
    &:focus{
        box-shadow: $box-shadow;
    }
    &:active{
        background: $gradientsucesshover;
        border: 3px solid rgba(0, 0, 0, 0.1);
        box-shadow: $box-shadow;
    }
    &.disabled{
        cursor: not-allowed;
        background: $gradientsucessdisabled;
    }
}