.a-input{
    @extend .text-6;
    @extend .text--regular;
    width: 100%;
    border: none;
    border-bottom: 2px solid $black;

    &:focus{
        outline: none;
        border-bottom: 2px solid $primone;
    }
}
.his-validated{
    background: url("././icons/sucess.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1em;
    outline: none;
    border-bottom: 2px solid $destructive;
}
.his-invalidated{
    background: url("././icons/error.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1em;
    outline: none;
    color: $destructive;
    border-bottom: 2px solid $destructive;
    &:focus{
        background: none;
    }
}
.his-validated{
    background: url("././icons/sucess.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1em;
    outline: none;
    color: $sucess;
    border-bottom: 2px solid $sucess;
    &:focus{
        background: none;
    }
}
.his-disabled{
    background: url("././icons/disabled.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1em;
    outline: none;
    border-bottom: 2px solid $destructive;
    transition: all 2s ease-in;
    &:focus{
        background: none;
    }
}