.a-input{
    @extend .text-12p;
    @extend .text--regular;
    border: none;
    border-bottom: 2px solid $black;

    &:focus{
        outline: none;
        border-bottom: 2px solid $primone;
    }
}
.his-validated{
    outline: none;
    border-bottom: 2px solid $sucess;
}
.his-invalidated{
    outline: none;
    border-bottom: 2px solid $destructive;
}