.a-input{
    border: none;
    border-bottom: 2px solid $primtwo;

    &:focus{
        outline: none;
        border-bottom: 2px solid $primone;
    }
}
.his-validated{
    outline: none;
    border-bottom: 2px solid $sucess;
}
.his-invalidated{
    outline: none;
    border-bottom: 2px solid $destructive;
}