.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-10 {
  z-index: 10;
}

.z-index-100 {
  z-index: 100;
}

/*
    The spacer is the default variable of spacing between two elements

    m - means margin
    p - means padding
    
    t - means top for margin-top or padding-top
    b - means bottom for margin-bottom or padding-bottom
    l - means left for margin-left or padding-left
    r - means right for margin-right or padding-right

    y - means both top and bottom for margin and padding
    x - means both left and right for margin and padding
    
*/
.mt-0 {
  margin-top: 0px;
}

.mt-19 {
  margin-top: 19px;
}

.mt-38 {
  margin-top: 38px;
}

.mt-57 {
  margin-top: 57px;
}

.mt-76 {
  margin-top: 76px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-114 {
  margin-top: 114px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-19 {
  margin-bottom: 19px;
}

.mb-38 {
  margin-bottom: 38px;
}

.mb-57 {
  margin-bottom: 57px;
}

.mb-76 {
  margin-bottom: 76px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-114 {
  margin-bottom: 114px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-19 {
  margin-left: 19px;
}

.ml-38 {
  margin-left: 38px;
}

.ml-57 {
  margin-left: 57px;
}

.ml-76 {
  margin-left: 76px;
}

.ml-95 {
  margin-left: 95px;
}

.ml-114 {
  margin-left: 114px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-19 {
  margin-right: 19px;
}

.mr-38 {
  margin-right: 38px;
}

.mr-57 {
  margin-right: 57px;
}

.mr-76 {
  margin-right: 76px;
}

.mr-95 {
  margin-right: 95px;
}

.mr-114 {
  margin-right: 114px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-19 {
  padding-top: 19px;
}

.pt-38 {
  padding-top: 38px;
}

.pt-57 {
  padding-top: 57px;
}

.pt-76 {
  padding-top: 76px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-114 {
  padding-top: 114px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-19 {
  padding-bottom: 19px;
}

.pb-38 {
  padding-bottom: 38px;
}

.pb-57 {
  padding-bottom: 57px;
}

.pb-76 {
  padding-bottom: 76px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-114 {
  padding-bottom: 114px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-19 {
  padding-left: 19px;
}

.pl-38 {
  padding-left: 38px;
}

.pl-57 {
  padding-left: 57px;
}

.pl-76 {
  padding-left: 76px;
}

.pl-95 {
  padding-left: 95px;
}

.pl-114 {
  padding-left: 114px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-19 {
  padding-right: 19px;
}

.pr-38 {
  padding-right: 38px;
}

.pr-57 {
  padding-right: 57px;
}

.pr-76 {
  padding-right: 76px;
}

.pr-95 {
  padding-right: 95px;
}

.pr-114 {
  padding-right: 114px;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  padding: 0 !important;
}

body, html {
  margin: 0;
  padding: 0;
}

.bg-primary {
  background-color: #7336FE;
}

.bg-illustration-signin {
  background-image: url("./img/illustration_signin.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-illustration-signup {
  background-image: url("./img/illustration_signup.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

.vh-100 {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.flex-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text-error {
  color: #F12733;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-0, .m-button {
  font-size: 0.75rem;
}

.text-1 {
  font-size: 0.875rem;
}

.text-2 {
  font-size: 1rem;
}

.text-3 {
  font-size: 1.125rem;
}

.text-4 {
  font-size: 1.25rem;
}

.text-5 {
  font-size: 1.375rem;
}

.text-6, .a-input {
  font-size: 1.5rem;
}

.text-7 {
  font-size: 1.625rem;
}

.text-8 {
  font-size: 1.75rem;
}

.text-9 {
  font-size: 1.875rem;
}

.text-10 {
  font-size: 2rem;
}

.text-11 {
  font-size: 2.125rem;
}

.text-12 {
  font-size: 2.25rem;
}

.text-13, .a-text-topright {
  font-size: 2.375rem;
}

.text-14 {
  font-size: 2.5rem;
}

.text-15 {
  font-size: 2.625rem;
}

.text-16 {
  font-size: 2.75rem;
}

.text-17 {
  font-size: 2.875rem;
}

.text-18 {
  font-size: 3rem;
}

.text-19 {
  font-size: 3.125rem;
}

.text-20 {
  font-size: 3.25rem;
}

.text-21 {
  font-size: 3.375rem;
}

.text-22 {
  font-size: 3.5rem;
}

.text-23 {
  font-size: 3.625rem;
}

.text-24 {
  font-size: 3.75rem;
}

.text-25 {
  font-size: 3.875rem;
}

.text-26 {
  font-size: 4rem;
}

.text-27 {
  font-size: 4.125rem;
}

.text-28 {
  font-size: 4.25rem;
}

.text-29 {
  font-size: 4.375rem;
}

@font-face {
  font-family: Geomanist;
  font-weight: 800;
  src: url("../../fonts/Geomanist-Black.otf");
}

@font-face {
  font-family: Geomanist;
  font-weight: 800;
  font-style: italic;
  src: url("../../fonts/Geomanist-Black-Italic.otf");
}

@font-face {
  font-family: Geomanist;
  font-weight: 700;
  src: url("../../fonts/Geomanist-Bold.otf");
}

@font-face {
  font-family: Geomanist;
  font-weight: 700;
  src: url("../../fonts/Geomanist-Bold-Italic.otf");
}

@font-face {
  font-family: Geomanist;
  font-weight: 200;
  src: url("../../fonts/Geomanist-Light.otf");
}

@font-face {
  font-family: Geomanist;
  font-weight: 200;
  src: url("../../fonts/Geomanist-Light-Italic.otf");
}

@font-face {
  font-family: Geomanist;
  font-weight: 300;
  src: url("../../fonts/Geomanist-Medium.otf");
}

@font-face {
  font-family: Geomanist;
  font-weight: 300;
  src: url("../../fonts/Geomanist-Medium-Italic.otf");
}

@font-face {
  font-family: Geomanist;
  font-weight: 400;
  src: url("../../fonts/Geomanist-Regular.otf");
}

@font-face {
  font-family: Geomanist;
  font-weight: 400;
  src: url("../../fonts/Geomanist-Regular-Italic.otf");
}

@font-face {
  font-family: Geomanist;
  font-weight: 900;
  src: url("../../fonts/Geomanist-Ultra.otf");
}

@font-face {
  font-family: Geomanist;
  font-weight: 900;
  src: url("../../fonts/Geomanist-Ultra-Italic.otf");
}

.text--regular, .a-input {
  font-family: Geomanist, sans-serif;
  font-weight: 400;
}

.text--regular--italic {
  font-family: Geomanist, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.text--black, .m-button {
  font-family: Geomanist, sans-serif;
  font-weight: 800;
}

.text--black--italic {
  font-family: Geomanist, sans-serif;
  font-weight: 800;
  font-style: italic;
}

.text--bold, .a-text-topright {
  font-family: Geomanist, sans-serif;
  font-weight: 700;
}

.text--bold--italic {
  font-family: Geomanist, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.text--light {
  font-family: Geomanist, sans-serif;
  font-weight: 200;
}

.text--light--italic {
  font-family: Geomanist, sans-serif;
  font-weight: 200;
  font-style: italic;
}

.text--medium {
  font-family: Geomanist, sans-serif;
  font-weight: 300;
}

.text--medium--italic {
  font-family: Geomanist, sans-serif;
  font-weight: 300;
  font-style: italic;
}

.m-button {
  display: inline-block;
  border-radius: 100px;
  border: none;
  font-family: Geomanist;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  white-space: nowrap;
  cursor: pointer;
  padding: 1rem 2.625rem;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 28.5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.m-button span {
  position: relative;
  z-index: 3;
  pointer-events: none;
}

.m-button--small {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.625rem 1.875rem;
}

.m-button--large {
  font-size: 1.25rem;
  line-height: 1.2;
  padding: 1.125rem 3.3125rem;
}

.m-button--primary {
  color: #FFFFFF;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4666DA), to(#D53DD8));
  background-image: linear-gradient(180deg, #4666DA 0%, #D53DD8 100%);
  display: inline-block;
  position: relative;
  z-index: 1;
}

.m-button--primary::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7337BE), to(#961B8A));
  background-image: linear-gradient(180deg, #7337BE 0%, #961B8A 100%);
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  border-radius: 100px;
  z-index: 2;
}

.m-button--primary:hover::after {
  opacity: 1;
  color: white;
}

.m-button--primary:focus {
  -webkit-box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.m-button--primary:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#7337BE), to(#961B8A));
  background: linear-gradient(180deg, #7337BE 0%, #961B8A 100%);
  border: 3px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.m-button--primary.disabled {
  cursor: not-allowed;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(137, 129, 129, 0.6)), to(rgba(137, 129, 129, 0.6))), -webkit-gradient(linear, left top, left bottom, from(#4666DA), to(#D53DD8));
  background: linear-gradient(0deg, rgba(137, 129, 129, 0.6), rgba(137, 129, 129, 0.6)), linear-gradient(180deg, #4666DA 0%, #D53DD8 100%);
}

.m-button--secondary {
  color: #FFFFFF;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background: white;
}

.m-button--secondary span {
  background: -webkit-linear-gradient(180deg, #4666DA 0%, #D53DD8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.m-button--secondary:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(#4666DA), to(#D53DD8));
  background: linear-gradient(180deg, #4666DA 0%, #D53DD8 100%);
}

.m-button--secondary::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  border-radius: 100px;
  z-index: 2;
}

.m-button--secondary:hover::after {
  opacity: 1;
}

.m-button--secondary:focus {
  -webkit-box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.m-button--secondary:focus::after {
  opacity: 1;
}

.m-button--secondary:active {
  -webkit-box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.m-button--secondary:active::after {
  opacity: 1;
}

.m-button--secondary:active::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(#7337BE), to(#961B8A));
  background: linear-gradient(180deg, #7337BE 0%, #961B8A 100%);
}

.m-button--secondary.disabled::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -3px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(137, 129, 129, 0.6)), to(rgba(137, 129, 129, 0.6))), -webkit-gradient(linear, left top, left bottom, from(#4666DA), to(#D53DD8));
  background: linear-gradient(0deg, rgba(137, 129, 129, 0.6), rgba(137, 129, 129, 0.6)), linear-gradient(180deg, #4666DA 0%, #D53DD8 100%);
}

.m-button--secondary.disabled::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  border-radius: 100px;
  z-index: 2;
}

.m-button--secondary.disabled span {
  background: -webkit-linear-gradient(0deg, rgba(137, 129, 129, 0.6), rgba(137, 129, 129, 0.6)), -webkit-gradient(linear, left top, left bottom, from(#4666DA), to(#D53DD8));
  background: -webkit-linear-gradient(0deg, rgba(137, 129, 129, 0.6), rgba(137, 129, 129, 0.6)), linear-gradient(180deg, #4666DA 0%, #D53DD8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.m-button--secondary.disabled {
  cursor: not-allowed;
}

.m-button--destructive {
  color: #FFFFFF;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F12733), to(#EE3C7C));
  background-image: linear-gradient(180deg, #F12733 0%, #EE3C7C 100%);
  display: inline-block;
  position: relative;
  z-index: 1;
}

.m-button--destructive::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C51D1D), to(#B81965));
  background-image: linear-gradient(180deg, #C51D1D 0%, #B81965 100%);
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  border-radius: 100px;
  z-index: 2;
}

.m-button--destructive:hover::after {
  opacity: 1;
  color: white;
}

.m-button--destructive:focus {
  -webkit-box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.m-button--destructive:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#C51D1D), to(#B81965));
  background: linear-gradient(180deg, #C51D1D 0%, #B81965 100%);
  border: 3px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.m-button--destructive.disabled {
  cursor: not-allowed;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(137, 129, 129, 0.6)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, left bottom, from(#F12733), to(#EE3C7C));
  background: linear-gradient(180deg, rgba(137, 129, 129, 0.6) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #F12733 0%, #EE3C7C 100%);
}

.m-button--sucess {
  color: #FFFFFF;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#63E4D2), to(#30F2C4));
  background-image: linear-gradient(180deg, #63E4D2 0%, #30F2C4 100%);
  display: inline-block;
  position: relative;
  z-index: 1;
}

.m-button--sucess::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#22F2B4), to(#1FBC96));
  background-image: linear-gradient(180deg, #22F2B4 0%, #1FBC96 100%);
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  border-radius: 100px;
  z-index: 2;
}

.m-button--sucess:hover::after {
  opacity: 1;
  color: white;
}

.m-button--sucess:focus {
  -webkit-box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.m-button--sucess:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#22F2B4), to(#1FBC96));
  background: linear-gradient(180deg, #22F2B4 0%, #1FBC96 100%);
  border: 3px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.m-button--sucess.disabled {
  cursor: not-allowed;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(137, 129, 129, 0.6)), to(rgba(137, 129, 129, 0.6))), -webkit-gradient(linear, left top, left bottom, from(#63E4D2), to(#30F2C4));
  background: linear-gradient(0deg, rgba(137, 129, 129, 0.6), rgba(137, 129, 129, 0.6)), linear-gradient(180deg, #63E4D2 0%, #30F2C4 100%);
}

.a-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
}

.a-input:focus {
  outline: none;
  border-bottom: 2px solid #7336FE;
}

.his-validated {
  background: url("././icons/sucess.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1em;
  outline: none;
  border-bottom: 2px solid #F12733;
}

.his-invalidated {
  background: url("././icons/error.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1em;
  outline: none;
  color: #F12733;
  border-bottom: 2px solid #F12733;
}

.his-invalidated:focus {
  background: none;
}

.his-validated {
  background: url("././icons/sucess.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1em;
  outline: none;
  color: #5CDB9E;
  border-bottom: 2px solid #5CDB9E;
}

.his-validated:focus {
  background: none;
}

.his-disabled {
  background: url("././icons/disabled.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1em;
  outline: none;
  border-bottom: 2px solid #F12733;
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

.his-disabled:focus {
  background: none;
}

.a-google-icon {
  background: url("../../../icons/google.svg");
  height: 20px;
  width: 20px;
  display: block;
  color: #000;
}

.a-text-topright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
/*# sourceMappingURL=style.css.map */