.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-10 {
  z-index: 10;
}

.z-index-100 {
  z-index: 100;
}

/*
    The spacer is the default variable of spacing between two elements

    m - means margin
    p - means padding
    
    t - means top for margin-top or padding-top
    b - means bottom for margin-bottom or padding-bottom
    l - means left for margin-left or padding-left
    r - means right for margin-right or padding-right

    y - means both top and bottom for margin and padding
    x - means both left and right for margin and padding
    
*/
.p-0 {
  padding: 0px;
}

.p-8 {
  padding: 16px;
}

.p-16 {
  padding: 32px;
}

.p-24 {
  padding: 48px;
}

.p-32 {
  padding: 64px;
}

.p-40 {
  padding: 80px;
}

.p-64 {
  padding: 1024px;
}

.p-96 {
  padding: 192px;
}

.p-154 {
  padding: 308px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-8 {
  padding-top: 16px;
}

.pt-16 {
  padding-top: 32px;
}

.pt-24 {
  padding-top: 48px;
}

.pt-32 {
  padding-top: 64px;
}

.pt-40 {
  padding-top: 80px;
}

.pt-64 {
  padding-top: 128px;
}

.pt-96 {
  padding-top: 192px;
}

.p-154 {
  padding: 308px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-8 {
  padding-bottom: 16px;
}

.pb-16 {
  padding-bottom: 32px;
}

.pb-24 {
  padding-bottom: 48px;
}

.pb-32 {
  padding-bottom: 64px;
}

.pb-40 {
  padding-bottom: 80px;
}

.pb-64 {
  padding-bottom: 128px;
}

.pb-96 {
  padding-bottom: 192px;
}

.p-154 {
  padding: 308px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-8 {
  padding-left: 16px;
}

.pl-16 {
  padding-left: 32px;
}

.pl-24 {
  padding-left: 48px;
}

.pl-32 {
  padding-left: 64px;
}

.pl-40 {
  padding-left: 80px;
}

.pl-64 {
  padding-left: 128px;
}

.pl-96 {
  padding-left: 192px;
}

.p-154 {
  padding: 308px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-8 {
  padding-right: 16px;
}

.pr-16 {
  padding-right: 32px;
}

.pr-24 {
  padding-right: 48px;
}

.pr-32 {
  padding-right: 64px;
}

.pr-40 {
  padding-right: 80px;
}

.pr-64 {
  padding-right: 128px;
}

.pr-96 {
  padding-right: 192px;
}

.p-154 {
  padding: 308px;
}

.px-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.px-8 {
  padding-right: 16px;
  padding-left: 16px;
}

.px-16 {
  padding-right: 32px;
  padding-left: 32px;
}

.px-24 {
  padding-right: 48px;
  padding-left: 48px;
}

.px-32 {
  padding-right: 64px;
  padding-left: 64px;
}

.px-40 {
  padding-right: 80px;
  padding-left: 80px;
}

.px-64 {
  padding-right: 128px;
  padding-left: 128px;
}

.px-96 {
  padding-right: 192px;
  padding-left: 192px;
}

.p-154 {
  padding: 308px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-8 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-16 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-24 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-32 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.py-40 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-64 {
  padding-top: 128px;
  padding-bottom: 128px;
}

.py-96 {
  padding-top: 192px;
  padding-bottom: 192px;
}

.p-154 {
  padding: 308px;
}

.m-0 {
  margin: 0px;
}

.m-8 {
  margin: 16px;
}

.m-16 {
  margin: 32px;
}

.m-24 {
  margin: 48px;
}

.m-32 {
  margin: 64px;
}

.m-40 {
  margin: 80px;
}

.m-64 {
  margin: 128px;
}

.m-96 {
  margin: 192px;
}

.m-154 {
  margin: 308px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-8 {
  margin-top: 16px;
}

.mt-16 {
  margin-top: 32px;
}

.mt-24 {
  margin-top: 48px;
}

.mt-32 {
  margin-top: 64px;
}

.mt-40 {
  margin-top: 80px;
}

.mt-64 {
  margin-top: 128px;
}

.mt-96 {
  margin-top: 192px;
}

.mt-154 {
  margin-top: 308px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-8 {
  margin-bottom: 16px;
}

.mb-16 {
  margin-bottom: 32px;
}

.mb-24 {
  margin-bottom: 48px;
}

.mb-32 {
  margin-bottom: 64px;
}

.mb-40 {
  margin-bottom: 80px;
}

.mb-64 {
  margin-bottom: 128px;
}

.mb-96 {
  margin-bottom: 192px;
}

.mb-154 {
  margin-bottom: 308px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-8 {
  margin-left: 16px;
}

.ml-16 {
  margin-left: 32px;
}

.ml-24 {
  margin-left: 48px;
}

.ml-32 {
  margin-left: 64px;
}

.ml-40 {
  margin-left: 80px;
}

.ml-64 {
  margin-left: 128px;
}

.ml-96 {
  margin-left: 192px;
}

.ml-154 {
  margin-left: 308px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-8 {
  margin-right: 16px;
}

.mr-16 {
  margin-right: 32px;
}

.mr-24 {
  margin-right: 48px;
}

.mr-32 {
  margin-right: 64px;
}

.mr-40 {
  margin-right: 80px;
}

.mr-64 {
  margin-right: 128px;
}

.mr-96 {
  margin-right: 192px;
}

.mr-154 {
  margin-right: 308px;
}

.mx-0 {
  margin-right: 0px;
  margin-left: 0px;
}

.mx-8 {
  margin-right: 16px;
  margin-left: 16px;
}

.mx-16 {
  margin-right: 32px;
  margin-left: 32px;
}

.mx-24 {
  margin-right: 48px;
  margin-left: 48px;
}

.mx-32 {
  margin-right: 64px;
  margin-left: 64px;
}

.mx-40 {
  margin-right: 80px;
  margin-left: 80px;
}

.mx-64 {
  margin-right: 128px;
  margin-left: 128px;
}

.mx-96 {
  margin-right: 192px;
  margin-left: 192px;
}

.mx-154 {
  margin-right: 308px;
  margin-left: 308px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-8 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-16 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-24 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-32 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.my-40 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-64 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.my-96 {
  margin-top: 192px;
  margin-bottom: 192px;
}

.my-154 {
  margin-top: 308px;
  margin-bottom: 308px;
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

.m-button {
  background: #DF6588;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  border: none;
}
/*# sourceMappingURL=style.css.map */